{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

<script src="https://www.suraenlinea.com/widgets/credito-protegido-cotizar/plan-credito-260-380/soat-cotizar.min.js"></script>
<script src="https://www.suraenlinea.com/widgets/v2/soat/soat.min.js"></script>
<div class="container anchor p-lg-5 about-section" id="{{ $sectionID }}">
 <div class="d-flex" style="height: 520px;">
  <div class="p-2 embed-responsive" >
    <div id="cpc1"></div>
  </div>
  <div class="p-2 embed-responsive" >
    <div id="sel-widget"></div>
  </div>
 </div>
</div>

<script>
  function fn() {
    var cpcCotizar = document.createElement('plan-credito-cotizar');
    cpcCotizar.setAttribute('codigo-canal', '7771');
    cpcCotizar.setAttribute('codigo-asesor', '{{ $author.sura.codigoAsesor }}');
    cpcCotizar.setAttribute('utm-source', 'wundercomm.{{$author.name}}.2022');
    cpcCotizar.setAttribute('utm-campaign', 'credito-protegido-widget');
    cpcCotizar.setAttribute('utm-medium', 'asesores-widget');
    cpcCotizar.setAttribute('utm-content', '10942');
    var cpc1 = document.getElementById('cpc1');
    cpc1.appendChild(cpcCotizar);
   angular.bootstrap(cpc1, ['plan.credito.260.380']);
}
document.addEventListener('DOMContentLoaded', fn, true);
</script>

<script>
  function initSuraWidget() {
  SuraWidgetSoat.mount({
  'codigo-canal': '7771',
  'codigo-asesor': '{{ $author.sura.codigoAsesor }}',
  'tenant': 'sura',
  'utm-source': 'wundercomm.{{$author.name}}.2022',
  'utm-campaign': 'wundercomm.{{$author.name}}.2022.soat'
  }, 'sura.widget.soat.300.400',
  document.getElementById('sel-widget'));
  }
  document.addEventListener('DOMContentLoaded', initSuraWidget, true);
</script>